.form-box {
    width: 500px;
    height: 400px;
    position: relative;
}

.form-box img {
    width: 100%;
    height: 100%;
}

.form-box .main-box{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    align-items: center;
}

.form-box .main-box .head-info{
    margin-top: 30px;
    color: white;
}

.form-box .main-box .info-box{
    width: 100%;
    height: auto;
    margin-top: 50px;
    color: white;
}

.form-box .main-box .info-box form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form-box .main-box .info-box .text-area{
    width: 60%;
    height: 50px;
    margin-bottom: 10px;
}