/* STATISTICS */

.homepage .static-frame {
    width: 100%;
    height: 236px;
}

.homepage .static-frame .info {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.homepage .static-frame .info .static-box {
    width: 22%;
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fbeeff;
    border-radius: 0px 50px 0px 50px;
}

.homepage .static-frame .info .static-box .static-num{
    text-align: center;
    font-family: Poppins;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 81px;
    color: rgb(215, 182, 134);
}

.homepage .static-frame .info .static-box .static-text{
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #d7b686;
}

/** EVENTS **/

.homepage .events-frame {
    width: 100%;
    height: 545px;
    background: #f8f8ff;
    display: flex;
    margin-bottom: 50px;
    margin-top: 60px;
  }
  
  .homepage .events-frame .category-title {
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    padding-top: 20px;
  }
  
  .homepage .events-frame .events-main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .homepage .events-frame .events-main .prev-next-frame {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 40px 0 40px 0;
    height: 25px;
  }
  
  .homepage .events-frame .dot-frame-pagination {
    position: relative;
    width: auto;
    display: flex;
  }
  
  .homepage .events-frame .events-main .events-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .homepage .events-frame .events-info .events-info-frame {
    position: relative;
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .homepage .events-frame .events-img {
    width: 1000px;
    height: 100%;
    display: flex;
    border-radius: 10px;
    background-size: cover;
  }
  
  .homepage .events-frame .events-desc {
    position: absolute;
    margin-bottom: 7px;
    padding: 10px;
    display: flex;
    width: 900px;
    height: auto;
    bottom: 5px;
    background: #f8f8ff;
    opacity: 0.4;
    box-shadow: 0px 40px 30px rgba(25, 25, 46, 0.04);
    border-radius: 8px;
  }
  
  .homepage .events-frame .events-desc .events-bott {
    width: 97%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .homepage .events-frame .events-desc .events-bott .bott-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .homepage .events-frame .bott-left .event-title-speaker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .homepage .events-frame .event-title-speaker .event-organizator {
    display: flex;
    align-items: center;
  }
  
  .homepage .events-frame .event-title-speaker .event-organizator img {
    width: 20px;
    margin-right: 10px;
  }
  
  .homepage .events-frame .event-organizator .spec-text-author {
    font-family: "GT Walsheim Pro";
    font-style: normal;
    line-height: 34px;
    color: #140342;
  }
  
  .homepage .events-frame .bott-left .text-desc {
    margin-top: 10px;
    font-family: "GT Walsheim Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #4f547b;
  }
  
  .homepage .events-frame .bott-left .bott-info {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    height: 16px;
  }
  
  .homepage .events-frame .bott-info .bott-info-main {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: auto;
    height: 100%;
    font-family: "GT Walsheim Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #4f547b;
  }
  
  .homepage .events-frame .bott-info .bott-info-main img {
    margin-right: 10px;
  }
  
  .homepage .events-frame .swiper-wrapper {
    display: flex;
    flex-direction: row;
  }
  
  .homepage .events-frame .swiper-pagination-bullet {
    margin-right: 5px;
    width: 8px;
    height: 8px;
    text-align: center;
    opacity: 1;
    background: #f8f8ff;
    border-radius: 50%;
  }
  
  .homepage .events-frame .swiper-pagination-bullet-active {
    background: #343434;
    border-radius: 50%;
  }

  /* POPULAR Clothes */

.homepage .popular-dishes-frame {
    width: 100%;
    height: auto;
    display: flex;
}

.homepage .popular-dishes-frame .popular-section{
    width: 100%;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homepage .popular-dishes-frame .popular-section .category-title {
    font-family: Roboto Serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 4%;
    text-align: center;
    color: rgb(0, 0, 0);
}

.homepage .popular-dishes-frame .popular-section .cards-frame{
    width: 80%;
    margin-top: 43px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.homepage .popular-dishes-frame .popular-section .cards-frame .card1{
    width: 41%;
    height: 330px;
    cursor: pointer;
    margin-bottom: 10px;
}
.homepage .popular-dishes-frame .popular-section .cards-frame .card2{
    width: 56%;
    height: 330px;
    cursor: pointer;
    margin-bottom: 10px;
}
.homepage .popular-dishes-frame .popular-section .cards-frame .card3{
    width: 56%;
    height: 330px;
    cursor: pointer;
}
.homepage .popular-dishes-frame .popular-section .cards-frame .card4{
    width: 41%;
    height: 330px;
    cursor: pointer;
}

.homepage .popular-dishes-frame .popular-section .cards-frame .card .card-cover{
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.4),
        rgba(0,0,0,0) 200px
    ),
    linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0) 300px);
}

/* New Clothes */

.homepage .new-dishes-frame{
    width: 100%;
    height: 605px;
    display: flex;
    background: #f8f8ff;
}

.homepage .new-dishes-frame .new-dishes{
    margin-top: 45px;
    display: flex;
    align-items: center;
}

.homepage .new-dishes-frame .new-dishes .category-title{
    font-family: Roboto Serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 4%;
    text-align: center;
    color: rgb(0, 0, 0);
}

.homepage .new-dishes-frame .new-dishes .cards-frame{
    width: 100%;
    margin-top: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F8F8FF;
}

.homepage .new-dishes-frame .new-dishes .cards-frame .card{
    width: 290px;
    height: 335px;
    cursor: pointer; 
}

.homepage .new-dishes-frame .new-dishes .cards-frame .card .product-sale{
    position: absolute;
    margin-top: 10px;
    z-index: 100;
    width: 93px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff9200;
    box-shadow: 4px 6px 20px rgba(0,0,0,0.4);
    border-radius: 25px;
    font-family: Roboto Serif;
    font-size: 11px;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0%;
    text-align: center;
    color: rgb(248, 248, 255);
}


.homepage .new-dishes-frame .new-dishes .cards-frame .product-detail{
    width: auto;
    height: 49%;
    display: flex;
    justify-content: center;
    margin-top: -12px;
    border-top: 1px solid;
    border-color: #f8f8ff;
    background: #fafbfb;
}

.homepage .new-dishes-frame .new-dishes .cards-frame .product-detail .info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.homepage .new-dishes-frame .new-dishes .cards-frame .product-detail .info .title {
    width: 65px;
    font-family: Roboto Serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 4%;
    text-align: center;
    color: rgb(37, 39, 45);
}


.homepage .new-dishes-frame .new-dishes .cards-frame .product-detail .info .price {
    width: 36px;
    font-family: Roboto Mono;
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 4%;
    text-align: center;
    color: rgb(37, 39, 45);
}

.homepage .new-dishes-frame .new-dishes .cards-frame .product-detail .info .views {
    width: 34px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: left;
    color: rgb(52, 52, 52);
}

.homepage .new-dishes-frame .no-data {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #e3c08d;
}

/* Advertisement */

.homepage .ads-restaurant-frame {
    width: 100%;
    height: 698px;
    display: flex;
    overflow: hidden;
    transform: perspective(0px);
    box-shadow: -3px 0px 20px 14px #34343480;
    margin-bottom: 50px;
}

.homepage .ads-restaurant-frame .ads-video{
    width: 100%;
    background: #0c0e12;
    display: flex;
    box-shadow: 0px -8px 90px rgb(215, 215, 255);
    transform: scale(1.2);
    overflow: hidden;
}

/* Avtive Users */

.homepage .active-users-frame {
    width: 100%;
    height: 550px;
    display: flex;
    background: #f8f8ff;
}

.homepage .active-users-frame .active-users {
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
}

.homepage .active-users-frame .active-users .title {
    margin-top: 90px;
    font-family: Roboto Serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: left;
    color: rgb(52, 52, 52);
}

.homepage .active-users-frame .active-users .cards-frame {
    width: 100%;
    height: 302px;
    margin-top: 56px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.homepage .active-users-frame .active-users .cards-frame .card {
    width: 320px;
    height: auto;
    cursor: pointer;
    border: 0px;
    margin-left: 100px;
}

.homepage .active-users-frame .active-users .cards-frame .card .name-frame{
    width: auto;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -12px;
    font-family: Roboto Serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: center;
    color: rgb(0, 0, 0);
    background: #f8f8ff;
}

.homepage .active-users-frame .no-data {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #e3c08d;
}